<launch>
  <group ns="turtlesim1">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/> <!-- one grup with a namespace turtlesim1, it contains a turtlesim node with a name of sim -->
  </group>

  <group ns="turtlesim2">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/> <!-- one grup with a namespace turtlesim2, it also contains a turtlesim node with a name of sim -->
  </group> <!-- this allows us to start two simulators without having name conflicts -->


  <node pkg="turtlesim" name="mimic" type="mimic">
    <remap from="input" to="turtlesim1/turtle1"/>
    <remap from="output" to="turtlesim2/turtle1"/> 
  </node> <!-- Here we start the mimic node with the topics input and output renamed to turtlesim1 and turtlesim2. This renaming will cause turtlesim2 to mimic turtlesim, turtlesim2 will act as turtlesim1 -->

</launch>
